# Insert the following snippet into your project .npmrc

@superman:registry=https://me-west1-npm.pkg.dev/playground-447016/npm-shared/
//me-west1-npm.pkg.dev/playground-447016/npm-shared/:always-auth=true

